.rng-program-container {
    @include flexHorizontalCenter;
    gap: 10px;
    
    button {
        @include blueButton;
    }  

    .rng-container {
        @include flexHorizontalCenter;
        @include container;
        @include risingAnim;
        gap: 5px;

        h1, h2 {
            font-size: 200%;
            text-align: center;
        }
        label {
            cursor: pointer;
        } 
    }

    .numberHistory-container {
        @include risingAnim;
        @include container;
        height: 300px;

        .numberHistory-list-container{
            margin-bottom: 10px;
            overflow-y: auto;
            height: 200px;
            border: 1px solid rgb(187, 187, 187);
        }
    }
}
