body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
}
body input {
  padding: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: 0.5s;
}
body input:hover {
  background-color: rgb(224, 224, 224);
}
body button {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 14px;
  transition: 0.5s;
}
body button:active {
  color: gray;
}
body .warning-message {
  color: red;
  text-align: center;
}
body .sidebar {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: auto;
  background-color: white;
  animation-name: sidebarAnimation;
  animation-duration: 2s;
}
@keyframes sidebarAnimation {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}
body .sidebar p {
  padding: 0;
  text-align: center;
  font-weight: bold;
}
body .sidebar ul {
  padding: 0;
  margin-top: -10px;
}
body .sidebar ul .nav-link {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: 0.5s;
}
body .sidebar ul .nav-link:hover {
  background-color: rgb(173, 173, 173);
  color: white;
}
body .sidebar ul .nav-link:active {
  background-color: rgb(95, 95, 95);
  color: rgb(165, 165, 165);
}
body .counter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  animation-name: risingAnim;
  animation-duration: 1s;
}
@keyframes risingAnim {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
body .counter-container h1 {
  font-size: 500%;
  text-align: center;
}
body .counter-container .button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
body .counter-container .button-container .increment-button {
  background-color: limegreen;
}
body .counter-container .button-container .increment-button:hover {
  background-color: rgb(24, 231, 24);
}
body .counter-container .button-container .increment-button:active {
  background-color: rgb(9, 129, 9);
}
body .counter-container .button-container .reset-button {
  background-color: rgb(50, 156, 205);
}
body .counter-container .button-container .reset-button:hover {
  background-color: rgb(11, 167, 240);
}
body .counter-container .button-container .reset-button:active {
  background-color: rgb(35, 110, 145);
}
body .counter-container .button-container .decrement-button {
  background-color: rgb(216, 23, 23);
}
body .counter-container .button-container .decrement-button:hover {
  background-color: rgb(252, 2, 2);
}
body .counter-container .button-container .decrement-button:active {
  background-color: rgb(252, 0, 0);
}
body .rng-program-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
body .rng-program-container button {
  background-color: rgb(50, 156, 205);
}
body .rng-program-container button:hover {
  background-color: rgb(11, 167, 240);
}
body .rng-program-container button:active {
  background-color: rgb(35, 110, 145);
}
body .rng-program-container .rng-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  animation-name: risingAnim;
  animation-duration: 1s;
  gap: 5px;
}
@keyframes risingAnim {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
body .rng-program-container .rng-container h1, body .rng-program-container .rng-container h2 {
  font-size: 200%;
  text-align: center;
}
body .rng-program-container .rng-container label {
  cursor: pointer;
}
body .rng-program-container .numberHistory-container {
  animation-name: risingAnim;
  animation-duration: 1s;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 300px;
}
@keyframes risingAnim {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
body .rng-program-container .numberHistory-container .numberHistory-list-container {
  margin-bottom: 10px;
  overflow-y: auto;
  height: 200px;
  border: 1px solid rgb(187, 187, 187);
}
body .ColorPicker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  animation-name: risingAnim;
  animation-duration: 1s;
}
@keyframes risingAnim {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
body .ColorPicker-container h1 {
  font-size: 150%;
  text-align: center;
}
body .ColorPicker-container .color-box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes risingAnim {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
body .digital-clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  animation-name: risingAnim;
  animation-duration: 1s;
}
@keyframes risingAnim {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
body .digital-clock-container h1 {
  font-size: 700%;
  font-family: monospace;
}
body .toDoList-Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  animation-name: risingAnim;
  animation-duration: 1s;
  gap: 5px;
  width: 400px;
}
@keyframes risingAnim {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
body .toDoList-Container h1 {
  font-size: 200%;
  text-align: center;
}
body .toDoList-Container button {
  background-color: rgb(50, 156, 205);
}
body .toDoList-Container button:hover {
  background-color: rgb(11, 167, 240);
}
body .toDoList-Container button:active {
  background-color: rgb(35, 110, 145);
}
body .toDoList-Container .task-list-container {
  overflow-y: auto;
  height: 200px;
  border: 1px solid rgb(187, 187, 187);
}/*# sourceMappingURL=index.css.map */